-r requirements.txt
black==24.10.0
flake8-pyproject==1.2.3
flake8==7.1.1
isort==5.13.2
mypy==1.14.0
mypy_extensions==1.0.0
pycodestyle==2.12.1
pyflakes==3.2.0
pylint==3.3.6
pytest==8.3.4
types_paramiko==3.5.0.20240928
